<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>苏研吹牛人</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<h1>吹牛争霸赛 — {{.User}}<a href="/">Leave</a></h1>

<div class="chat page">
    <button type="submit" id="begin">开始掷骰子</button>

    <p id="demo"></p>
    <button type="submit" id="end">开的就是你！！</button>

    <div class="chatArea">
        <ul class="messages"></ul>
    </div>
    <input class="inputMessage" placeholder="Type here..."/>
</div>


<script type="text/javascript">

    $(function() {

        var COLORS = [
            '#e21400', '#91580f', '#f8a700', '#f78b00',
            '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
            '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
        ];

        // Initialize variables
        var $window = $(window);
        var $messages = $('.messages'); // Messages area
        var $inputMessage = $('.inputMessage'); // Input message input box
        $inputMessage.focus();

        var connected = false;
        var $result=new Array()
        var $imageAdds=new Array(" ","/static/images/1.png","/static/images/2.png","/static/images/3.png","/static/images/4.png","/static/images/5.png","/static/images/6.png")


        // Create a socket
        var socket = new WebSocket('ws://'+window.location.host+'/websocket/room/socket?user={{.User}}');

        socket.onopen = function () {
            connected = true;
        };
        socket.onclose = function () {
            connected = false;
        };

        // Sends a chat message
        function sendMessage () {
            var message = $inputMessage.val();
            // Prevent markup from being injected into the message
            $inputMessage.val('');
            // if there is a non-empty message and a socket connection
            if (message && connected) {
                $inputMessage.val('');
                req = JSON.stringify({
                    msg:message
                });
                socket.send(req);
            }
        }

        // Log a message
        function log (message, options) {
            var $el = $('<li>').addClass('log').text(message);
            addMessageElement($el, options);
        }

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var msg = data.Text;
            var usr = data.User;


            var $usernameDiv = $('<span class="username"/>')
                    .text(usr)
                    .css('color', getUsernameColor(usr));
            if (msg.substr(0,3)=='Arr'){
                msg=msg.substring(3)
                //msg =msg.map(Number)
                var str=msg.split('')
               // var x="/static/images/jing3.jpg"
                //var str1="<img src="+x+'>"
                var x='/static/images/jing3.png'
                var str1='<img src='+x+'>'
                for (var i=0;i<6;i++)
                {
                    str1+='<img src='+$imageAdds[str[i]]+'>'
                }
                var $messageBodyDiv = $(str1)
            }else{
                var $messageBodyDiv = $('<span class="messageBody">')
                    .text(msg);
            }

            var typingClass = data.typing ? 'typing' : '';
            var $messageDiv = $('<li class="message"/>')
                    .data('username', usr)
                    .addClass(typingClass)
                    .append($usernameDiv, $messageBodyDiv);

            $messages.append($messageDiv);

            $messages[0].scrollTop = $messages[0].scrollHeight;

        }


        // Gets the color of a username through our hash function
        function getUsernameColor (username) {
            // Compute hash code
            var hash = 7;
            for (var i = 0; i < username.length; i++) {
                hash = username.charCodeAt(i) + (hash << 5) - hash;
            }
            // Calculate color
            var index = Math.abs(hash % COLORS.length);
            return COLORS[index];
        }

        // Keyboard events
        $window.keydown(function (event) {

            // When the client hits ENTER on their keyboard
            if (event.which === 13) {
                sendMessage();
                console.log("sendmsg");
                typing = false;

            }
        });


        $inputMessage.on('input', function() {
            console.log("typing!")
        });


        // Focus input when clicking on the message input's border
        $inputMessage.click(function () {
            $inputMessage.focus();
        });


        //add by jc
        function RandomNum(Min, Max) {
            var Range = Max - Min;
            var Rand = Math.random();
            var num = Min + Math.floor(Rand * Range); //舍去
            return num;
        }

        document.getElementById('begin').addEventListener('click', function() {
            var myArray=new Array()
            var str=""
            for (var i=0;i<6;i++)
            {
                myArray[i]=RandomNum(1,7)
                str+='<img src='+$imageAdds[myArray[i]]+'>'
            }
           // document.getElementById("demo").innerHTML=myArray

            document.getElementById("demo").innerHTML=str

            //$inputMessage.val('');$imageAdds[myArray[0]]
            req = JSON.stringify({
                msg:"我摇好啦"
            });
            socket.send(req);
            $result.push(myArray)
        });

        document.getElementById('end').addEventListener('click', function() {
            var myArray1=new Array()
            var len=$result.length

               myArray1[0]=$result[len-1]

            //document.getElementById("demo").innerHTML=myArray1
            var str='Arr'+myArray1[0].join("")
            req1 = JSON.stringify({
                msg:str
            });
            socket.send(req1);
        });



    });



</script>
</body>
</html>